li:nth-child(2n) {
    color: green;
}
li:nth-child(3n){
    background-color: lightblue;
}
li:first-child {
    border-top: solid 1px green;
}
 li:nth-child(3) a, li:nth-child(5) a {
    color: red;
}
li:nth-child(5) a:hover {
    color:grey;
}
li:nth-child(2), li:nth-child(5) {
    list-style-type: none;
}
input[type="text"]:focus {
    background-color: grey;
}
input[placeholder="first name"] {
    color: green;
}
input[placeholder="last name"]{
    color: blue;
}
input[type="email"]::selection {
    background-color: yellow;
    color: pink;
}
input[type="submit"]:hover {
    color: red;
}
