.container {
    display: grid;
    height: 1500px;
    width: 2100px;
    grid-gap:20px;
}
.vertical {
    background-color: rgb(84, 192, 102);
    grid-column: 1/2;
    grid-row: 1/2;
}
.left {
    background-color: rgb(238, 188, 52);
    grid-column: 1/2;
    grid-row: 2/3;
}
.wide {
    background-color: rgb(201, 113, 128);
    grid-column: 1/3;
    grid-row: 3/5;
}
.middle {
    background-color: blue;
    grid-column: 2/3;
    grid-row: 1/3;
    position: relative;
}
.tall{
    background-color: green;
    grid-column: 3/4;
    grid-row: 1/5;
}
.img-container {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 150px;
    left: 15px;
    background-image: url('https://a-static.besthdwallpaper.com/keep-it-simple-wallpaper-2560x1440-30135_51.jpg');
    background-clip: content-box;
    background-size: cover;
}
h3, h4 {
    color: white;
    font-size: 14;
    padding-left: 10px;
}
.p-tall {
    text-align: left;
    width: min-content;
    min-width: 95%;
    padding: 10px;
    font-size: 20px;  
}
.p-wide {
    text-align: left;
    width: min-content;
    min-width: 95%;
    padding: 10px;
    font-size: 20px;  
}
